@{
    ViewData["Title"] = "Delete Book";
}

<h1>Удаление книги</h1>

<form method="post">
    <label>Идентификатор книги: </label><br />
        <input type="number" name="id" /><br /><br />
    <input type="submit" value="Удалить" />
</form>